.code-editor {
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--border);

    & .cm-focused {
        outline: none;
    }

    & * {
        font-family: 'Geist Mono', monospace;
    }
}
